.woocommerce-pagination {
  @include mt(80px, 64px, 55px);

  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    a, span {
      display: inline-block;
      padding: 10px 5px;
      margin: 0 10px;
      font-weight: 500;
      border-bottom: 1px solid transparent;
      line-height: 0.3;
    }

    span {
       color: $color-light-text;
    }

    a {
      color: $color-dark-text;
      &:hover:not(.next):not(.prev) {
        border-bottom: 1px solid $color-dark-text;
      }
    }

    a.next, a.prev {
      font-size: 20px;
      color: $color-light-text;
    }
  }
}