$color-light-text: #646262;
$color-dark-text: #000000;
$color-title: rgb(18, 48, 38);
$color-primary-button: rgb(255, 255, 255);
$color-danger: #f58080;
$background-color-primary-button: rgb(18, 48, 38);
$color-secondary-button: #000;
$background-color-secondary-button: #fff;
$background-color-footer: rgb(18, 48, 38);
$input-border-color: #d9d9d9;
$border-gray: 1px solid #dfdfdf;
$border-black: 1px solid #000;


$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$border-gray : 1px solid #E9E9E9;